<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMS Dashboard</title>
    <link rel="stylesheet" href="css/inventoryIM.css">
    <link rel="stylesheet" href="css/headerAndFooter.css">
    <!-- <link rel="stylesheet" href="/public/css/inventoryIM.css"> -->
    <script src="/js/inventoryIM.js" defer></script>
</head>
<body>
    <!-- HEADER -->
    <nav>
        <div class="nav-content">
            <div class="logo">
                <img src="/resources/logo.png" alt="Logo" class="logo-icon">
            </div>
            <div class="nav-left">
                <ul class="nav-links">
                    <li><a href="#" id="home-link">Home</a></li>
                    <li><a href="#" id="inventory-link">Inventory</a></li>
                    <li><a href="#" id="sales-link">Sales Orders</a></li>
                    <li><a href="#" id="suppliers-link">Suppliers</a></li>
                </ul> 
            </div>
            <div class="profile">
                <a href="#">
                    <img src="/resources/download (1).jpg" alt="Profile Icon" class="profile-icon">
                    <span>Profile</span>
                </a>
            </div>
        </div>
    </nav>
    <!-- END OF HEADER -->

       <!-- Inventory table -->
    <div class="inventory-list">
        <div class="section-header">
            <button class="add-btn" a href= "#" id="add-prod">Add</button>
            <div class="button-container">
                <input type="text" class="search-input" placeholder="Search" oninput="searchInventory()" />
                <button class="filter-btn" onclick="downloadStockAging()">Filter</button>
            </div>
        </div>
        <table border="1">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>QTY</th>
                    <th>Reorder Lvl</th>
                    <th>Expiraton</th>
                    <th>Stock Alert</th>
                    <th>Expiration Alert</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be populated by script.js -->
            </tbody>
        </table>
    </div>


    <!-- FOOTER -->
    <section class="gap"></section>
    <div>
        <section class="footer">
            <div class="footer-logo">
                <img src="/resources/logo.png" alt="footer-logo" class="logo-icon">
            </div>
            <div class="footer-text">
                <p>&copy; 2024 PharmaTrack</p> 
            </div>
        </section>
    </div>
    

    <!-- COPY SCRIPT FOR THE HEADER  -->

    <script>
        let nav = document.querySelector("nav");
        window.onscroll = function() {
            if (document.documentElement.scrollTop > 20) {
                nav.classList.add("sticky");
            } else {
                nav.classList.remove("sticky");
            }
        }
    </script>

</body>
</html>