<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="css/loginStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/login.js" defer></script>
</head>
<body>
<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="front">
            <img src="resources/Le-sserafim.jpg" alt="">
            <div class="text">
                <span class="text-1">Pagod na ko <br> Ems 🥲</span>
                <span class="text-2">IMS na puro reklamo</span>
            </div>
        </div>
    </div>
    
    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Login</div>
                <form id="#">
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" id="userId" placeholder="Enter your UserID" required>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" id="password" placeholder="Enter your password" required>
                        </div>
                        <div class="button input-box">
                            <input type="submit" class="login-button" value="Submit">
                        </div>
                    </div>
                </form>
                <div id="login-message"></div> <!-- For displaying login messages -->
            </div>
        </div>
    </div>
</div>
</body>
</html>
