/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* SALES TABLE */

.salesorders-list {
    margin: 20px auto; /* Center the table horizontally */
    text-align: center;
    top: 100px;
    position: relative;
    padding: 20px 80px;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table thead {
    background-color: #333;
    color: white;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table th {
    background-color: #000058;
    color: white;
    text-transform: uppercase;
}

.table-section h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #000058;
    text-align: left;
}

/* Section Header */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.button-container {
    gap: 5%;
    white-space: nowrap;
}

.search-container {
    display: flex;
    align-items: center;
    width: 300px; /* Set width for compact look */
}

.search-input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #000058;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.filter-btn {
    background-color: #000058;
    color: white;
    border: none;
    padding: 8px 15px; /* Adjusted for compact size */
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.filter-btn:hover {
    background-color: #333;
}

.section-header h2 {
    font-size: 24px;
    color: #000058;
    margin: 0;
}

